<section class="navbar-two">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color : rgba(184, 229, 250, 0); ">
    <a class="navbar-brand" href="#"><%= image_tag('relish-logo.png', class: "banner-icon") %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "Home", root_path, class: "nav-item nav-link" %>
        <%= link_to "Banner", banner_path, class: "nav-item nav-link" %>
        <%= link_to "Banner2", bannertwo_path, class: "nav-item nav-link" %>
        <%= link_to "Values", corevalues_path, class: "nav-item nav-link" %>
        <%= link_to "Recipe", recipe_path, class: "nav-item nav-link" %>
        <%= link_to "Tabs", tabs_path, class: "nav-item nav-link" %>
        <%= link_to "Buttons", button_path, class: "nav-item nav-link" %>
        <button class="nav-button my-2 my-sm-0" type="submit">Parents</button>
      </div>
    </div>
  </nav>
</section>
