<%= render "navbarone" %>

<div class="banner-core-values">
  <div class="title">
    <h1>Recipe page</h1>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-lg-4 recipe-position">
        <%= image_tag('recipe-one.jpg', class: "recipe-image") %>
        <%= image_tag('relish-logo.png', class: "recipe-relish") %>
        <br>
        <h3>Lamb Curry</h3>
    </div>
    <div class="col-lg-4 recipe-position">
        <%= image_tag('recipe-two.jpg', class: "recipe-image") %>
        <%= image_tag('relish-logo.png', class: "recipe-relish") %>
        <br>
        <h3>Pesto Pasta</h3>
    </div>
    <div class="col-lg-4 recipe-position">
        <%= image_tag('recipe-three.jpg', class: "recipe-image") %>
        <%= image_tag('relish-logo.png', class: "recipe-relish") %>
        <br>
        <h3>Chicken Bake</h3>
    </div>
  </div>
</div>

<br>
<br>
<br>
